@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply h-screen w-screen m-0 p-0 overflow-hidden;
    background-color: #121212;
    color: white;
  }
}

.react-flow {
  width: 100% !important;
  height: 100% !important;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
#root {
  display: flex;
}